{% extends 'base.html' %}

{% block content %}
    <div class="d-flex justify-content-center align-items-center flex-column my-5">
        <h1 class="my-3">Register</h1>
        <form action="{% url 'register' %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {% include 'partials/form.html' with form=form fields_only=True %}
            {% include 'partials/form.html' with form=profile_form fields_only=True %}
            <button class="btn btn-success">REGISTER</button>
        </form>

    </div>
{% endblock %}